# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
/media/
/static/

# Virtual Environment
venv/
env/

# Ignore any other files or directories specific to your project
 
